html{
  font-size: 6.25%;
  overflow: visible;
}
body {
    font-family: Arial, sans-serif;
    display:flexbox;
    justify-content: center;
    text-align: center;
    margin:100px ;
   
    background-image: url(rock_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 
  }
  .container{
    background-color: rgb(121, 117, 135,0.1);
    max-width: max-content;
    max-height: 300px;
    margin:auto;
    border-radius: 3px;
  }
  
  h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-style: normal;
    
  }
  
  #computer-choice,
  #user-choice,
  #result {
    font-weight: bold;
    
  }
  
  button {
    background-color: #3dc041;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button:active {
    background-color: #2d682c;
  }
  